* {
    background-color: rgb(163, 114, 208);
   
}
.container1 {
 width: 60%;
 height: 40px;
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-left: 300px;
  margin-top: 30px;
  
}
.container2 {
     display: flex;
     display: none;
     flex-direction: column;
     
     height: 60vh;
     width: 100px;
     align-items:space-around;
     margin: 20px;

}
button {
    border: 4px solid;
    border-radius: 9px;
    padding: 7px;

}
a[href] {
  color: black;
  cursor: pointer;
  background-color: aqua;
font-family: 'Bree Serif', serif;
}
#btn1 {
    background-color: aqua;
}
#btn2 {
    background-color: aqua;
}
#btn3 {
    background-color: aqua;
}
#btn4 {
    background-color: aqua;
}
#btn5 {
    background-color: aqua;
}
#menu {
    font-family: 'Bree Serif', serif;
    background-color: rgb(35, 118, 90);
    cursor: pointer;
}
#btn {
  margin-left: 15px;
}
