.btn {
    position: relative;
    top: 200px;
    left: 300px;
    padding: 10px;
    margin: 10px;
    border: 5px solid red;
    border-radius: 3px;
    background-color: antiquewhite;
    color: red;
    transition-duration: 0.7s;
    /* transition-timing-function: ease-in-out; */
}
.btn:hover {
    color: aliceblue;
    background-color: rgb(74, 23, 23);
    border-radius: 30px;
    transition-timing-function: ease-in-out;
}